.home3-testimonil-area .author-img {
    overflow: hidden;
}
@media (max-width:991px){
    .breadcrumbs .breadcrumb-wrapper {
        padding: 176px 0 110px;
    }
}
@media (max-width:767px){
    .home3-partner-area .partner-title h3 {
        font-size: 28px;
    }
    .home4-pricing-plan .pricing-card .pricing-content .pay-btn {
        padding-top: 30px;
    }
    .home4-pricing-plan .pricing-card .pricing-content {
        padding: 18px;
    }
    .home4-pricing-plan .pricing-card .pricing-content ul li {
        font-size: 14px;
        padding-block: 17px;
    }
    .home4-pricing-plan .pricing-card .pricing-top {
        padding: 20px;
    }
    .home4-pricing-plan .pricing-card .pricing-top h2 {
        font-size: 50px;
    }
    .home4-pricing-plan .pricing-card .pricing-top h2 sub {
        font-size: 18px;
    }
    .section-title-3 h2 {
        font-size: 28px;
    }
    .section-title-3 p {
        font-size: 14px;
        line-height: 26px;
    }
    .mb-55 {
        margin-bottom: 35px;
    }
    footer .footer-widget .menu-container ul li {
        margin-bottom: 12px;
    }
    footer .footer-widget .menu-container ul li a {
        font-size: 14px;
    }
    footer .footer-widget .widget-title h4 {
        font-size:22px;
    }
    footer .footer-btm {
        margin-top: 50px;
    }
    .mb-40 {
        margin-bottom: 30px !important;
    }
    footer .footer-top {
        margin-bottom: 30px;
    }
    footer .footer-top .footer-top-content .footer-contect .content h6 a {
        font-size: 16px;
    }
    footer .footer-widget .footer-contact h4 {
        font-size: 19px;
    }
    footer .footer-widget .footer-contact a {
        font-size: 14px;
        line-height: 28px ;
    }
    footer .footer-widget .widget-title {
        margin-bottom: 18px;
    }
    .header-area2 .header-logo {
        width: 145px;
    }
    .mobile-logo-wrap a {
        display: flex;
        height: 100%;
    }
    .mobile-logo-wrap img {
        height: 100%;
    }
    .mobile-logo-wrap {
        height: 30px;
    }
    .header-area2 .main-menu .menu-list {
        padding-top: 30px;
    }
    .footer-logo img {
        height: 100%;
    }
    .footer-logo a {
        display: flex;
        height: 100%;
    }
    .footer-logo {
        height:26px;
    }
    .home3-blog-area .single-blog .blog-content h4 a {
        font-size: 18px;
    }
    .home4-pricing-plan .pricing-card .pricing-content .pay-btn a {
        font-size: 15px;
    }
    .banner-area3 .banner-wrapper .banner-content p {
        font-size: 15px;
        margin-right: 0;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .banner-area3 .banner-wrapper .banner-content h1 {
        margin-bottom: 20px;
    }
    .section-title-4 h2 {
        font-size: 28px;
    }
    .home3-testimonil-area .testimonial-card3 .testimonial-content p {
        font-size: 14px;
        line-height: 28px;
    }
    .home3-testimonil-area .testimonial-card3 .testimonial-content {
        margin-bottom: 18px;
    }
    .home3-testimonil-area .testimonial-card3 .testimonial-btm .author-area .author-content h4 {
        font-size: 19px;
    }
    .home3-testimonil-area .testimonial-card3 .testimonial-btm .author-area .author-content span {
        font-size: 14px;
    }
    .breadcrumbs .breadcrumb-wrapper {
        padding: 117px 0 60px;
    }
    .contact-page-wrap .contact-content .informations .single-info .info p {
        font-size: 14px;
    }
}
@media (max-width:576px){
    .breadcrumbs .breadcrumb-wrapper {
        padding: 102px 0 45px;
    }
}